
*{
  margin: 0;
  padding: 0;
}


body{
  background: radial-gradient(circle, rgba(163,163,177,1) 3%, rgba(216,216,222,1) 27%, rgba(255,255,255,1) 52%);
  display: grid;
  grid-template-areas: 
  "header nav header"
  "main main main"
  " main main main"
  "footer footer footer";
}

header {
  margin: auto;
  padding: auto;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.title {
  text-decoration: none;
  color: black;
  font-family: 'Rubik', sans-serif;
  margin-left: o auto;
}

.title:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.breadcrumb-class{
  --bs-breadcrumb-divider: ">"; 
}

.breadcrumb-item{
  margin-left: 10px;
}

.bread-home{
  color: black;
}

.sort{
  margin-left: 10px;
}
.offcanvas{
  background-color: #bdb76b !important;
}
.navbar{
  background-color: #bdb76b;
  height: 100px;
  font-family: 'Rubik', sans-serif;
}
.navbar-collapse{
  background-color: #bdb76b;
  padding: 10px;
  justify-content: flex-start;
}

.nav-item{
  margin-left: 40px;
  margin-right: 40px;
}

.nav-item:hover{
  transform: scale(1.02);
  transition-duration: 0.5s;
  position: static;
}

.nav-item {
  font-size: 20px;
}

.user-menu-button{
  margin: 0px 20px 0px 20px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #bdb76b;
}

.user-menu{
  display: none;
  align-items: center;
}

.videoprom {
  display: grid;
  place-items: center;
  padding: 50px;
}

.barra-publi p {
  color: white;
  background-color: gray;
  text-align: center;
  border: 2px solid black;
  border-radius: 0px;
}

.product {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.product img {
  max-width: 100%;
  border-radius: 5px;
}

.galerie-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  justify-items: center;
}

/* index.html*/

.carousel-inner{
  margin: 80px 0 200px 0;
}

.card-img-top{
  justify-content: center;
  width: 350px;
  height: 300px;
  margin: 10px;
  align-self: center;
}


.card{
  transition: 0.3s;
  margin-top: 30px;
  position: static;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.card:hover{
 transform: scale(1.05);
 position: static;
}

.card-text{
  font-size: wrap;
}

.card-link{
  text-decoration: none;
}

.card-title{
  border-bottom: 1px solid #bdb76b;
  padding: 10px;
}

.catCard {
  border: 1.5px solid black;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 15px;
  overflow: hidden;
}

.catCard:hover{
  width: 250px;
  height: 250px;
  transition-duration: 0.5s;
  overflow: hidden;
}


.container {
  max-width: 1170px;
  margin: auto;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section  a {
  text-decoration: none;
  color: #555;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.contact-form .text-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 100px;
}

.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.contact-btn:hover {
  background-color: #555 !important;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #000;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

footer{
  background-color: #bdb76b;
  margin-top: 100px;
}

.footer-item:hover{
  transform: scale(1.03);
  position: static;
  transition-duration: 0.5s;
}

/* accesories.html */

/* sale.html */
.sales-price{
  text-decoration: line-through;
}
  
.sales-new-price{
  color: red;
}

/* men.html */

/* woman.html */
/* TABLETS */

@media (max-width: 768px){
  .navbar-collapse{
    box-shadow: 0 1004vmax 0 1000vmax rgba(0, 0, 0, .5);

  }
  .videoprom {
    width: auto;
    height: auto;
  }

  .galerie-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* MOBILE */

@media (max-width: 480px) {

  .videoprom {
    width: auto;
    height: auto;
  }

  .galerie-products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  

  .footer {
    font-size: small;
  }
}

/*# sourceMappingURL=main.css~.map */