.container {
  max-width: 1170px;
  margin: auto;
  overflow: hidden;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  }

  .footer-section {
    flex: 1;
    padding: 20px;

    h2 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        color: #555;
      }
    }
  }

  .contact {
    span {
      display: block;
      margin-bottom: 10px;
    }

    .contact-form {
      .text-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
      }

      .textarea {
        height: 100px;
      }
    }

    .contact-btn {
      display: inline-block;
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #555;
      }
    }
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #000;
        font-size: 20px;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }

footer {
  background-color: #bdb76b;
  margin-top: 100px;

  .footer-item:hover {
    transform: scale(1.03);
    position: static;
    transition-duration: 0.5s;
  }
}