header {
  margin: auto;
  padding: auto;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.title {
  margin-left: 20px;

  a {
    text-decoration: none;
    color: black;
    font-family: map-get($fonts, principal);
  }

  &:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }
}

.navbar {
  background-color: map-get($colors, primary);
  height: 100px;
  font-family: map-get($fonts, principal);

  &-collapse {
    background-color: map-get($colors, primary);
    padding: 10px;
  }

  &-item {
    margin-left: 40px;
    margin-right: 40px;

    &:hover {
      transform: scale(1.2);
      transition-duration: 0.5s;
    }

    font-size: 20px;
  }
}